html, body {
    *zoom: 1;
    float: left;
    display: flex;
    flex-direction: column;
    clear: none;
    text-align: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#banner{
    width: 100%;
    height: 18%;
}
#banner-image {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    height: 80%;
}

#sidebar{
    width: 0%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #4b0442ab;
    transition: width 0.5s cubic-bezier(0.50, 0.61, 0.455, 1);
}

#label-menu{
    display:block;
    position: absolute;
    cursor: pointer;
}

.barra {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.5s;
}
.menu{
    text-decoration: none;
    color: #fff;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}
#logo{
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
#menu-check {
    display: none;
}

#menu-check:checked + #sidebar {
    visibility: visible;
    width: 35%;
}

#menu-check:checked ~ * #top {
    opacity: 0;
}
#menu-check:checked ~ * #bot {
    opacity: 0;
}
#menu-check:checked ~ * #middle1 {
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
    margin: auto;
    margin-top: 5px;
}
#menu-check:checked ~ * #middle2 {
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
    margin: auto;
    margin-top: -2px;
}


.playernumber{
    width: 50%;
    top: 15%;
    position:fixed;
    display: inline;
    flex-direction: row;
    justify-content: center;
}

#player-icon {
    height: 50px;
    width: 25px;
    position: relative;
    top:15px;
}

#removeplayerbtn {
    background-color:#2bd2fc;
	border-radius: 50%;
	height: 30px;
    border:1px solid #2bd2fc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 1em;
    font-weight: bolder;
    text-align: center;
	padding:0px 11px;
}
#removeplayerbtn:hover {
    background-color:#15a9bd;
}
#removeplayerbtn:active{
    position:relative;
	top:1px;
}

#addplayerbtn {
    background-color:#f5278b;
	border-radius: 50%;
    height: 30px;
	border:1px solid #f5278b;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 1em;
    font-weight: bolder;
    text-align: center;
	padding:3px 10px;
}
#addplayerbtn:hover {
    background-color:#b00055;
}
#addplayerbtn:active{
    position:relative;
	top:1px;
}



.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    transition: all 1s;
}



.player {
    height: 50%;
    width: 30%;
    display: flex;   
    flex-direction: column;
    margin: auto;
    margin-bottom: 5px;
    background: url(img/border1.JPG), url(img/border2.JPG), url(img/border3.JPG), url(img/border3.JPG);
    background-repeat: repeat-y, repeat-y, no-repeat, no-repeat;
    background-position: 0px 0px, right 0px, top, bottom ;
    background-size: 12px 100% 12px 100% 1px 10%;
    background-color: #4b0442ab;
}
.sub {
    background-color:#2bd2fc;
	border-radius:42px;
	border:1px solid #2bd2fc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 1em;
    font-weight: bolder;
	padding:3px 10px;
    text-align: center;
}
.sub:hover {
    background-color:#15a9bd;
}
.sub:active{
    position:relative;
	top:1px;
}

.add {
    background-color:#f5278b;
	border-radius:42px;
	border:1px solid #f5278b;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 1em;
    font-weight: bolder;
	padding:3px 8px;
    text-align: center;
}
.add:hover {
    background-color:#b00055;
}
.add:active{
    position:relative;
	top:1px;
}

.players1{
    height: 50%;
    width: 25%;
}
.players1 .score{
    font-size: 4vw;
}
.players1 .line-add-sub{
    margin-top: 2px;
}
.players2{
    height:30%;
    width: 30%;
}
.players2 .score{
    font-size: 5vw;
}
.players3{
    height: 20%;
    width: 33.3333%;
}
.players3 .score{
    font-size: 2vw;
}
.players-1{
    width: 25%;
    height: 100%;
}
.players-2{
    width: 50%;
    height: 100%;
}

#player1, #player2, #player3, #player4, #player5, #player6 {
    display:flex;
}

#player7, #player8, #player9, #player10, #player11, #player12 {
    display: none;
}

.line-name {
    text-align: center;
    width: 100%;
}

.name-field {
    margin: auto;
    margin-top: 10px;
    resize:none;
    font-size: larger;
    text-align: center;
    border: none;
    width: 75%;
    overflow-y:hidden;
    background-color: rgb(255,165,208);
    font-family: cabin, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(61,20,76);
    border-radius: 26px;
}

.name-field::placeholder {
    color: rgb(61,20,76);
}

.line-score {
    margin: auto;
    text-align: center;
    height: 60%;
    width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.score {
    text-align: center;
    border-radius: 35px; 
    height: 95%;
    width: 50%;
    font-size: 6vw;
    font-family:  'OCR A Std', sans-serif;
    color: rgb(61,20,76);
    background-color: #fbd6ff;
}

.line-add-sub{
    margin: 10px auto;
}

::selection {
    background: #7b05aa;
    color: #fff;
}
@media (max-width: 767px) {
    #logo{
        width: 100%;
    }
    .main{
        height: 60%;
    }
    .scoreboard{
        width: 100%;
        height: 100%;
    }
    .player{
        width: 48%;
        height: 35%;
    }
    .player .line-score {
        width: 100%;
        height: 30%;
    }
    .player .line-add-sub{
        margin: 5px auto;
        margin-top: 0;
    }
    .players1{
        height: 30%;
        width: 50%;
    }
    .players2{
        height:30%;
        width: 33.3333%;
    }
    .players2 .line-score{
        font-size: 5vw;
    }
    .players3{
        height: 20%;
        width: 33.3333%;
    }
    .players-1{
        width: 45%;
        height: 30%;
    }
    .players-2{
        width: 50%;
        height: 90%;
    }
}

@media (min-width: 768px) {
    #logo{
        width: 70%;
    }
    .scoreboard{
        width: 100%;
        height: 90%;
    }
    .player{
        width: 48%;
        height: 35%;
    }
    .players1{
        height: 23%;
        width: 50%;
    }
    .players2{
        height:30%;
        width: 33.3333%;
    }
    .players3{
        height: 20%;
        width: 33.3333%;
    }
    .players-1{
        width: 25%;
        height: 100%;
    }
    .players-2{
        width: 50%;
        height: 90%;
    }
}

@media (min-width: 992px) {
    #logo{
        width: 50%;
    }
    .scoreboard {
        height: 90%;
    }
    .player{
        width: 48%;
        height: 35%;
    }
    .players1{
        height: 30%;
        width: 30%;
    }
    .players2{
        height:30%;
        width: 33.3333%;
    }
    .players3{
        height: 20%;
        width: 33.3333%;
    }
    .players-1{
        width: 25%;
        height: 100%;
    }
    .players-2{
        width: 50%;
        height: 90%;
    }
}

@media (min-width: 1200px) {
    .scoreboard {
        height: 90%;
    }
    .player{
        width: 48%;
        height: 35%;
    }
    .players1{
        height: 30%;
        width: 30%;
    }
    .players2{
        height:30%;
        width: 33.3333%;
    }
    .players3{
        height: 20%;
        width: 33.3333%;
    }
    .players-1{
        width: 25%;
        height: 100%;
    }
    .players-2{
        width: 45%;
        height: 100%;
        margin: auto;
    }
    .score{
        font-size: 4vw;
    }
}

@media (max-height:600px) and (orientation:landscape) {
    .scoreboard {
        height: 90%;
    }
    .main {
        height: 80%;
    }
    .player{
        width: 30%;
        height: 50%;
    }
    .players1{
        height: 45%;
        width: 25%;
    }
    .players2{
        height:30%;
        width: 33.3333%;
    }
    .players2 .score {
        text-align: center;
        border-radius: 50px; 
        height: 80%;
        width: 50%;
        font-size: 5vw;
    }
    .players3{
        height: 20%;
        width: 33.3333%;
    }
    .players3 .line-score{
        height: 70%;
        font-size: medium;
    }
    .players3 .score {
        font-size: 2vw;
    }
    .players3 .line-name{
        font-size: small;
    }
    .players-1{
        width: 25%;
        height: 100%;
    }
    .players-2{
        width: 50%;
        height: 90%;
    }
}